body{
    background:rgb(255, 253, 142);
}
h1{
    font-size: "1"; font-family: arial; color: grey; background-color: yellow;
}
h2{
    color:blue; font-size:"5"; font-family:arial;
}
#comensales{
    color:blue; font-family:arial;
}
span{
    color:black;
}
#personas{
    color:black; font-family:arial;
}
h3{
    font-size:"4" ; font-family: arial; color: blue;
}
#ingredientes{
    color: black; font-family: arial;text-indent: 30px;
}